[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	branch = main
[submodule "thirdparty/snmalloc"]
	path = thirdparty/snmalloc
	url = https://github.com/microsoft/snmalloc.git
