--pre --extra-index-url https://download.pytorch.org/whl/cpu
torch == 2.1.2
numpy < 2
transformers >= 4.42.3
tokenizers >= 0.19.1
sentencepiece >= 0.2.0
accelerate
protobuf
pybind11 == 2.11.1
torchvision
tabulate
datasets
soundfile
librosa
