--pre --extra-index-url https://download.pytorch.org/whl/cpu
torch == 2.5.1
numpy < 2
transformers == 4.46.2
tokenizers >= 0.20
sentencepiece == 0.2.0
accelerate
protobuf
pybind11 == 2.11.1
torchvision
tabulate
datasets
soundfile
librosa
PyYAML
certifi
idna
diffusers
pre-commit
nanobind
