name: test build process

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Set up ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Prepare llvm build directory name
        id: llvm-build-dir
        run: |
          echo "commit=$(git submodule status | awk '{print $1;}')" >> $GITHUB_OUTPUT
      - name: Cache llvm build directory
        uses: actions/cache@v3
        with:
          path: llvm
          key: build-${{ steps.llvm-build-dir.outputs.commit }}
      - name: Build RVV enviroment
        run: bash ./thirdparty/build-rvv-env.sh
      - name: Test build
        run: bash ./tests/Actions/TestBuild.sh  llvm/build-${{ steps.llvm-build-dir.outputs.commit }}
